.DS_Store
.vscode/


data/datasets/dataset_wikipedia/
data/datasets/dataset_lapresse/
data/datasets/lapresse.db
data/cleaned_datasets/dataset_wikipedia/
data/cleaned_datasets/dataset_lapresse/

/results/baseline/summaries_lapresse/